<div class="mt4">

    <h3>Upload the course</h3>

    <form method="POST" action="/courses/store">

        <div class="form-group">
            <label for="name">COURSE NAME:</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>

        <div class="form-group">
            <label for="description">ABOUT COURSE:</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>

        <div class="form-group">
            <label for="videoId">VIDEO ID:</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>

        <div class="form-group">
            <label for="level">LEVEL:</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
        
        <button type="submit" class="btn btn-primary">Add Course</button>

    </form>

</div>